################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularJSSampleApp/packages
/AngularJSSampleApp/AngularJSSampleApp/bin
/AngularJSSampleApp/AngularJSSampleApp/obj/Debug
/AngularJSSampleApp/.vs
